[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/prathamesh/Desktop/DBMSTHEORY1.pdf]
row=1
col=1

[/home/prathamesh/Desktop/html.html]
row=0
col=1

[/home/prathamesh/Desktop/ping.bat]
row=3
col=1

[/home/prathamesh/Desktop/Fibonacci.java]
row=8
col=0

[/home/prathamesh/Desktop/Counter-Strike Global Offensive.desktop]
row=6
col=0

[/home/prathamesh/Desktop/steam.desktop]
row=7
col=0

[/home/prathamesh/Desktop/karan.java]
row=9
col=0

[/home/prathamesh/Desktop/DBMSLAB4.pdf]
row=2
col=1

[C2D869AED869A201]
row=2
col=0

[440AFD770AFD65F8]
row=1
col=0

[DC5ADD655ADD3CC8]
row=0
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/prathamesh]
row=5
col=0

