[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[061C-FCB4]
row=0
col=0

[C2D869AED869A201]
row=2
col=0

[440AFD770AFD65F8]
row=1
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/prathamesh]
row=5
col=0

